.container {
    height: 100vh;
}
.title {
    margin: auto;
}
.app-sidenav {
    max-width: 80vw;
    min-width: 300px;
}
.nav-items {
    width: 100%;
    text-align: left;
    font-size: 100%;
    padding:10px 20px;
}
.nav-icon {
    padding-right: 20px
}
.nav-profile {
    height: 25vh;
    background-image: url('/assets/img/nav_background.png');
    background-size: 100% 100%;
}
.img-circle {
    border-radius: 50%;
    background-color: cyan;
    border-style: groove;
}
.nav-name-email {
    padding-top: 10px; 
    padding-left: 10px;
    font-size: medium;
}