<md-sidenav-container class="example-container" (swipeleft)="swipe($event.type, sidenav)" >
  <md-toolbar class="no-padding" layout="row" layout-align="center center">
      <md-icon md-button (click)="openNav(sidenav)" *ngIf="(sideNav == 0)">dehaze</md-icon>
      <md-icon md-button (click)="closeNav(sidenav)" *ngIf="(sideNav == 1)">arrow_back</md-icon>
      <span class="title">My App</span>
  </md-toolbar>
  <md-sidenav #sidenav (close)="sideNav=0" class="app-sidenav">
    <div class="nav-profile">
      <div style="padding-top: 20px; padding-left: 10px">
        <img [src]="profile.pic" class="img-circle" height=60 width=60 />
      </div>
      <div class="nav-name-email">
        <b style="color: white">Jon Doe</b>
      </div>
      <div class="nav-name-email">
        <span style="color: white">jon.doe@example.com</span>
      </div>
    </div>
    <div>
      <button md-button class="nav-items">
        <md-icon class="nav-icon">home</md-icon>
        <span>Home</span>
      </button>
    </div>
    <div>
      <button md-button class="nav-items">
        <md-icon class="nav-icon">album</md-icon>
        <span>Albums</span>
      </button>
    </div>
    <div>
      <button md-button class="nav-items">
        <md-icon class="nav-icon">music_note</md-icon>
        <span>Songs</span>
      </button>
    </div>
    <div>
      <button md-button class="nav-items">
        <md-icon class="nav-icon">favorite</md-icon>
        <span>Favorites</span>
      </button>
    </div>
  </md-sidenav>
  <div class="container" (swiperight)="swipe($event.type, sidenav)">
    <router-outlet></router-outlet>  
  </div>
</md-sidenav-container>
